{% extends 'base.html' %}

{% block title %}HomePage{% endblock title %}

{% block content %}
{% if request.user.is_authenticated %}
  Bonjour {{ request.user.first_name }}!
  <p><a href="{% url 'facture_image' %}">Voir les factures</a>
    <a href="{% url 'upload' %}">Enregistrer une nouvelle facture</a></p>
  <p><a href="{% url 'logout' %}">Déconnexion</a></p>
{% else %}
  <a href="{% url 'login' %}">Connexion</a>
  <a href="{% url 'signup' %}">Inscription</a>
{% endif %}

{% endblock content %}