{% load static %}

<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">

        <title>HomePage</title>


<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/navbar-fixed.css' %}" rel="stylesheet">
  </head>
  <body>
    {% block content %}
    {% if request.user.is_authenticated %}
    {% include 'facture/navbar.html' %}
      <main class="container">
        <div class="bg-body-tertiary p-5 rounded">
          <h3>Bonjour {{ request.user.first_name }}!</h3>
          <p class="lead">Que souhaitez-vous faire ?</p>
          <p><a class="btn btn-md btn-primary" href="{% url 'upload' %}" role="button">Enregistrer une facture</a></p>
          <p><a class="btn btn-md btn-primary" href="{% url 'list' %}"" role ="button">Visualiser mes factures</a></p>
        </div>
      </main>
      <script src="{% static 'js/bootstrap.bundle.min.js' %}" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    {% else %}
    {% include 'base.html' %}
    {% endif %}
    {% endblock %}
    </body>
</html>
